/* ********************  CART MAIN CONTENT  ************************ */

/* *****************  MAIN  ********************* */

body{
    height: 100vh;
    width: 100vw;
    background-color: #2ca02c;
}

/* ***************** CART_ARTICLE ********************* */

.cart_article {
    display: flex;

}

.article_image{

}

.article_description{

}

.quantifier{

}

.price{

}

.article_image img{
    height: 80px;
    width: 150px;
}






