/* ********************  CART MAIN CONTENT  ************************ */
html{
    font-size: 1px;
}
/* *****************  MAIN  ********************* */

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2ca02c;
    font-size: 10rem;
}

/* ***************** CART_ARTICLE ********************* */

.cart_article {
    display: flex;

}

.article_image{

}

.article_description{

}

.quantifier{

}

.price{

}

.article_image img{
    height: 80px;
    width: 150px;
}






