.dropdown-menu {
    background-color: black;

}
h1 {
    font-size: 100px;
    background-color: black;
    font-family: Ubuntu, serif;
    font-weight: bold;
    color: white;
}
.header {
    display: inline;
    flex-flow: wrap;
}
.navbar {
    align-self: start;
    margin: 0 auto;
}

