/*HTML*/

html{
    font-size: 1px;
}

/*Body*/

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/*Header*/

header {
    background-color: black;
}

/*Contact*/

.fondCO{
    background-color: #dddddd;
    text-align: center;
}

.imageUtilisateurCO{
    border: solid orange;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textCO{
    margin-top: 25px;
    font-size: 20rem;
    font-family: Ubuntu, serif;
    font-style: italic;
    color: black;
}

.textBoutonCO{
    color: white;
}

.champText{
    font-size: 20rem;
}

.boutonValiderCO{
    margin-top: 25px;
    font-size: 25rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.newUserCO{
    text-align: right;
    margin-top: 60rem;
    padding-bottom: 20rem;
    padding-right: 15rem;
}




/* ********************  CART MAIN CONTENT  ************************ */



/* *****************  MAIN  ********************* */

#cart_main{

    font-size: 10rem;
}


/* ***************** CART_ARTICLE ********************* */

.cart_article {
    display: flex;
    flex-direction: column;

}

.cart_content{
    display: flex;
    justify-content: space-around;

}

.article_image{

}

.article_description{

}

.quantifier{

}

.price{

}

.article_image img{
    height: 80rem;
    width: 150rem;
}




/*Footer*/

footer{
    text-align: center;
    background-color: black;
}

.textF{
    font-size: 10rem;
    font-family: Ubuntu, serif;
    color: white;
}

.titleF{
    font-size: 20rem;
    font-family: Ubuntu, serif;
    font-weight: bold;
    color: white;
}

.enteteF{
    padding-top: 50rem;
    padding-right: 20rem;
    padding-left: 20rem;
}

.mentionF{
    margin-top: 50rem;
}

.blockLien{
    list-style-type:none;
    padding-left: 0rem;
    margin-top: 20rem;
}

.lienF{
    margin-top: 10rem;
}

.blockIconeF{
    margin-top: 50rem;
}

.iconeF{
    padding-right: 10rem;
    padding-left: 15rem;
}

.copyrightF{
    margin-top: 50rem;
    padding-bottom: 50rem;
}
/*Catalogue*/
.RealbgCat {
    background-color: #333232;
}
.Catimg {
    height: 200rem;
    width: 300rem;
    padding-left: 50rem;
}
.BgDivCat {
    background-color: #414040;

}
.textCatH3 {
    font-size: 25rem;
    color: #dddddd;
    opacity: 50%;
    text-align: center;
}.textCat {
     font-size: 25rem;
     color: #dddddd;
     text-align: center;
 }
.Catlign {
    background-color: #dddddd;
    height: 2px;
    width: 100%;
}
.CatnoMarg {
    margin-bottom: 0px;
}




/*HOME*/


.titreHome {
    font-family: Ubuntu, cursive;
    font-size: 40rem;
    color: white;
}

.textHome {
    font-family: Ubuntu, serif;
    font-size: 25rem;
    display: flex;
    color: white;
}
.imageHome {
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blockHome {


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#imgHome1 {

    background-image: url("../image_acceuil/FirstImage.png");
}

#imgHome2 {

    width: 100vw;
    height: 50vh;
    background-image: url("../image_acceuil/SecondImage.png");
}

#imgHome3 {

    width: 100vw;
    height: 50vh;
    background-image: url("../image_acceuil/ThirdImage.png");
}

#imgHome4 {

    width: 100vw;
    height: 50vh;
    background-image: url("../image_acceuil/FourthImage.png");
}

#imgHome5 {

    width: 100vw;
    height: 50vh;
    background-image: url("../image_acceuil/FirthImage.png");
}



/*END HOME*\
