
html {
    background-color: black;
    font-size: 1px;
}

.imageHome {
    display: inline-flex;
    align-items: center;
}
main {

    width: 375px;
}
.titreHome {
    color: white;
    display: inline-flex;
    text-align: start;
    font-family: 'Monserrat' ;
    font-size: 40px;
}
.texteHome {
    color: white;
justify-self: start;
}
